html{height:100%;}
body {position:relative; min-height:100%; min-width:320px; max-width:1280px; margin:0 auto; font-family: "futura-pt-1","futura-pt-2",sans-serif;}
.wrap {position:absolute; top:0; bottom:0; width:100%; padding-top:40px; background:#363636;}
h1,h2,h3,h4,h5,h6 {font-family: "futura-pt-1","futura-pt-2",sans-serif;}

.skip-to-content {position:absolute; top:-50em; left:10px; padding:5px 10px; background:#000; z-index:10000;}
.skip-to-content:focus {top:50px; color:#fff;}

a {color:#4d4d4d;}
a:visited {color:#444; outline:0;}
a:hover, a:focus {color:#555;}

span.highlight {background-color:#ffa;}

/* OVERFLOW SCROLL */
.scroll-parent {position:relative;}
.scroll-vert {overflow-y:auto;}
.scroll-horz {overflow-x:auto;}

.overflow-scroll {position:absolute; text-align:center; color:#999; z-index:10;}
.overflow-scroll.scroll-le {top:0; bottom:0; left:0; width:40px;   background:-webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0) ); background:-moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0) ); background:linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0) ); }
.overflow-scroll.scroll-ri {top:0; bottom:0; right:0; width:40px;  background:-webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) ); background:-moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) ); background:linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) ); }
.overflow-scroll.scroll-up {top:0; left:0; right:0; height:40px;   background:-webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0) );  background:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0) );  background:linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0) );  }
.overflow-scroll.scroll-dn {bottom:0; left:0; right:0; height:40px;background:-webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1) );  background:-moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1) );  background:linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1) );  }
.overflow-scroll .fa {position:absolute; font-size:2.2em; cursor:pointer;}
.overflow-scroll.scroll-le .fa, .overflow-scroll.scroll-ri .fa {top:50%; margin-top:-29px; left:7px;}
.overflow-scroll.scroll-up .fa, .overflow-scroll.scroll-dn .fa {right:5px; top:5px;}


/* HEADER */
header {position:fixed; top:0; min-width:320px; width:100%; max-width:1280px; z-index:1000;}
header .persistent-nav a, header > nav a {display:inline-block; height:38px; line-height:40px; font-size:1.2em; color:#fff;}
header a:hover, header a:visited, header a:focus {text-decoration:none; color:#eee;}
header .persistent-nav {position:relative; height:40px; border-bottom:2px solid #464646; font-weight:bold; background:#252525;}
header .persistent-nav .logo {position:relative;display:inline-block; vertical-align:top; position:relative; top:-40px; left:-10px; width:90px; height:90px; border:3px solid #333; padding-right:5px; line-height:110px; border-radius:50px; text-align:right; font-size:25px; background:#006c52; z-index:100;}
header .persistent-nav .i-am {display:inline-block; padding:0 20px;}
header .persistent-nav .i-am:focus, header .persistent-nav .i-am:active {outline:0;}
header .persistent-nav .xs-menu .fa {margin-left:10px;}
header > nav {border-bottom:2px solid #464646; background:#363636;}
header > nav a {padding:0 1.5%; font-weight:100; letter-spacing:.5px;}

header #iAm {position:absolute; top:40px; left:0; width:480px; max-width:100%; font-size:1.2em; box-shadow:20px 20px 20px 10px rgba(0,0,0,.5); background:#454545;}
header #iAm .scroll-up, .menu-right .scroll-up {top:88px; background:-webkit-linear-gradient(top, rgba(69,69,69,1), rgba(69,69,69,0) );  background:-moz-linear-gradient(top, rgba(69,69,69,1), rgba(69,69,69,0) );  background:linear-gradient(top, rgba(69,69,69,1), rgba(69,69,69,0) );  }
header #iAm .scroll-dn, .menu-right .scroll-dn {background:-webkit-linear-gradient(top, rgba(69,69,69,0), rgba(69,69,69,1) );  background:-moz-linear-gradient(top, rgba(69,69,69,0), rgba(69,69,69,1) );  background:linear-gradient(top, rgba(69,69,69,0), rgba(69,69,69,1) );  }
header #iAm .ready-to {text-align:center; white-space:nowrap; color:#fff; background:#252525;}
header #iAm .ready-to a {display:inline-block; margin:5px 10px; padding:5px 20px; color:#fff;}
header #iAm .ready-to a:hover {background:#363636;}
header #iAm em {display:block; padding:10px 30px; color:#e0e0e0;}
header #iAm nav {padding:0 40px 20px 20px; overflow-y:auto;}
header #iAm nav a {display:block; height:auto; border-top:1px solid #656565; border-bottom:1px solid #2c2c2c; padding:5px 10px; line-height:1.3; color:#fff;}
header #iAm nav a:first-child {border-top:0;}
header #iAm nav a:last-child {border-bottom:0;}
header #iAm nav a:hover {background:#252525;}
header #iAm nav a strong {display:block; margin:0 0 5px; font-size:18px; font-weight:normal;}
header #iAm nav a p {margin:0; font-size:0.8em; font-style:italic; color:#b4b4b4;}
@media (min-height:800px) {
  header #iAm .scroll-up {top:118px;}
  header #iAm .ready-to a {padding:20px 30px; font-size:1.2em}
  header #iAm nav a {padding:10px;}
}



/* SHOWCASE */
.showcase {position:relative; width:100%; height:400px; background-color:#0077b0;}
.showcase .showcase-wrap {width:100%; height:400px;}
.showcase h1 {margin-top:0; padding:10px 0 0 60px; font-size:30px; color:#fff;}
.showcase .overflow-scroll {color:#0077b0; background:rgba(255,255,255,.7) !important; cursor:pointer;}

.showcase-content {position:absolute; top:50px; height:370px; width:100%; overflow:auto;overflow-x:auto;overflow-y:hidden; padding:0 0 0 50px;}
.showcase .tiles {width:4000px; height:350px; padding-right:50px;}
.showcase .tiles .tile {display:block; position:relative; float:left; width:140px; height:140px; margin:10px; border:8px solid #ededed; background:#0077b0;}
.showcase .tiles .tile.tile-big {width:300px; height:300px;}
.showcase .tiles .tile .caption {position:absolute; bottom:0; left:0; right:0; min-height:30px; padding:.5em; color:#fff; background:rgba(0,0,0,.5);}
.showcase .tiles .tile .caption i {font-size:2em;}
.showcase .tiles .tile .caption span {position:absolute; bottom:.5em; right:.5em; left:40px; text-align:right; font-style:italic;}

.showcase.showcase-short {height:180px;}
.showcase.showcase-short .showcase-wrap {height:180px;}
.showcase.showcase-short h2 {display:none;}
.showcase.showcase-short .showcase-content {top:10px; height:200px;}
.showcase.showcase-short .tiles {height:160px;}

/* Navbar */
.navigate {padding:0 55px; background:#01364f;}
.navigate a:hover {text-decoration:none;}
.navigate .bar {position:relative; height:40px; background:#01364f; z-index:200;}
.navigate .bar .portal-links a {position:relative; float:left; width:30%; height:45px; margin:-5px 1.5% 0; text-align:center; font-size:1.2em; letter-spacing:1px; line-height:45px; font-weight:bold; color:#fff; background:#115078; z-index:11;}
.navigate .bar .portal-links a:hover {background:#216098;}
.navigate .bar .social-links {text-align:center;}
.navigate .bar .social-links a {float:left; height:40px; padding:0 3.9%; line-height:40px; font-size:1.6em; color:#fff;}
.navigate .bar .social-links a:hover {background:#115078;}
.navigate .bar .explore-links {padding-right:0;}
.navigate .bar .explore-links a {float:right; width:50%; height:40px; text-align:center; font-size:1.2em; letter-spacing:1px; line-height:40px; color:#fff; background:#5d5d5d;}
.navigate .bar .explore-links a:hover {background:#7d7d7d;}
.navigate .bar .explore-links a img {position:relative; top:-2px;}
@media(max-width:991px) {
  .navigate .bar .explore-links .explore-link-text {display:none;}
}
.sites-quicknav {position:relative; background:url('../../../home/gardens.jpg') no-repeat center center; background-size:100% auto; z-index:30;}
.sites-quicknav nav {padding:25px 15%; box-shadow:inset 0 0 40px 20px rgba(0,0,0,.5); font-size:1.5em; background:rgba(0,0,0,0.5);}
.sites-quicknav a {display:block; padding:.2em 0; color:#fff;}
.menu-helpers {padding:20px; text-align:center; background:#cececf;}
.menu-helpers a {display:inline-block; position:relative; height:60px; margin:0 5px; padding:15px 20px; font-size:1.4em; line-height:30px; box-shadow:2px 2px 4px 2px rgba(0,0,0,.2);}
.menu-helpers .explore {color:#fff; background:#0f6d53;}
.menu-helpers .explore:before {content:''; border-style:solid; border-width:30px 20px 30px 0; border-color:transparent #0f6d53; position:absolute; top:0; left:-20px;}
.menu-helpers .info-for {color:#0f6d53; background:#fff;}
.menu-helpers .sites {color:#fff; background:#232523;}
.menu-helpers .sites:after {content:''; border-style:solid; border-width:30px 0 30px 20px; border-color:transparent #232523; position:absolute; top:0; right:-20px;}
@media(max-width: 480px) {
  .menu-helpers a {padding:15px 8px; font-size:1em;}
}

/* Info */
.info {position:relative; padding:0 40px; background:#f1f1f1;}
.info-panel {background:#fff;}
.info h4 {color:#00644c;}

.info-panel {min-height:300px; overflow:auto;overflow-y:auto;overflow-x:hidden;}
.info-panel ul {margin:0; padding:10px 20px; list-style:none;}
.info-panel ul li a {display:block; padding:.5em 0;}

.slc-sites .info-panel-wrap {padding-bottom:60px; box-shadow:5px 5px 5px rgba(0,0,0,.2);}
.slc-news .info-panel, .slc-spotlight .info-panel {box-shadow:5px 5px 5px rgba(0,0,0,.2);}

.slc-sites {position:relative;}
.slc-sites .scroll-up {top:29px;}
.slc-sites .scroll-dn {bottom:60px;}
.slc-sites .info-panel {min-height:240px;}
.slc-sites .info-panel > ul {font-size:1.2em; padding-right:35px;}
.slc-sites ul ul {display:none; padding:0 20px;}
.slc-sites ul ul a {padding:0;}
.slc-sites .filtering ul ul {display:block;}
.slc-sites form {position:absolute; bottom:0; left:0; right:0; height:60px; padding:13px 15px;background:#bababa;}
.slc-sites form .input-group {float:left; width:85%;}
.slc-sites form button {width:15%; padding-top:0;padding-bottom:0; font-size:1.5em; color:#eee;}

.slc-news {position:relative;}
.slc-news .scroll-up {top:29px;}
.slc-news ul {font-size:.9em; padding-right:35px;}
.slc-news ul li i {float:left; padding-top:2px;}
.slc-news ul li a {margin-left:20px; padding-top:0;}

.slc-spotlight .cycle-slideshow {min-height:300px; overflow:hidden;}
.slc-spotlight .cycle-slideshow .item {position:relative; height:300px; width:100%; padding:1em; text-align:center;}
.slc-spotlight .cycle-slideshow .item .spotlight-top, .slc-spotlight .cycle-slideshow .item .spotlight-bottom {display:block; position:absolute; left:0; top:0; height:120px; width:100%; padding:10px 20px;}
.slc-spotlight .cycle-slideshow .item .spotlight-bottom {top:auto; bottom:0;}
.slc-spotlight .cycle-slideshow .item img {max-height:100px; margin:0 10px;}
.slc-spotlight .cycle-slideshow .cycle-pager {position:absolute; top:43%; width:100%; text-align:center; z-index:200;}
.slc-spotlight .cycle-slideshow .cycle-pager span {font-size:30px; color:#999; cursor:pointer;}
.slc-spotlight .cycle-slideshow .cycle-pager .cycle-pager-active {color:#000;}
.slc-spotlight .cycle-slideshow .cycle-control {position:absolute; top:0; bottom:0; width:40px; z-index:220; cursor:pointer;}
.slc-spotlight .cycle-slideshow .cycle-prev {left:0;}
.slc-spotlight .cycle-slideshow .cycle-next {right:0;}
.slc-spotlight .cycle-slideshow .cycle-control .fa {position:absolute; top:45%; left:5px; font-size:2.2em; color:#999;}
.no-js .slc-spotlight .cycle-slideshow .cycle-control {display:none;}

/* FOOTER */
footer {position:relative; width:100%; padding:10px 20px; color:#fff; background:#363636; z-index:900;}
footer .footer-name {margin-top:4px;}
footer address {margin:0; text-align:right;}
footer a, footer a:hover {color:#fff;}


/* CONTENT */
#content {background:#eeeaf3; border-bottom:.5em solid #01364f; padding:0 0 2em; font-size:1.5em;}



/* Homepage Intro */
.intro-home {display:none; position:fixed; top:0; left:0; bottom:0; right:0; background:url('../../../home/westlands.jpg') no-repeat center center fixed; background-size:cover;}
.intro {display:none; position:absolute; top:60px; left:30px; right:30px; height:360px; border:8px solid #ebebeb; z-index:80;}
.intro .intro-text {position:absolute; top:25%; width:100%; text-align:center; letter-spacing:5px; font:2em/1 Futura, "Trebuchet MS", Arial, sans-serif; color:#fff;}
.intro .intro-text div {display:none; margin:10px auto; background:url(../../../img/slc-sprite.png) no-repeat center center transparent; background-size:343px;}
.intro .intro-text .i-sarah {display:block; width:400px; height:207px; background-position:center 0;}

@media (max-width: 480px) {
  .intro .intro-text .i-sarah {max-width:86%; margin:10px 7%; background-size:100%;}
}
@media (min-width: 1080px) {
  .intro .intro-text {top:45%;}
  .intro .intro-text div {display:inline-block; height:32px; width:400px;}
  .intro .intro-text .i-sarah {display:inline-block; height:32px; width:207px;}
  .intro .intro-text .i-lawrence {width:345px; background-position:center -73px;}
  .intro .intro-text .i-college {width:285px; background-position:center -146px;}
  .intro .intro-text .i-dot {width:50px; background-position:center -110px;}
}
@media (min-width: 1280px) {
  .intro .intro-text div {height:41px; background-size:auto;}
  .intro .intro-text .i-sarah {width:237px; height:41px;}
  .intro .intro-text .i-lawrence {width:400px; background-position:center -85px;}
  .intro .intro-text .i-college {width:326px; background-position:center -171px;}
  .intro .intro-text .i-dot {background-position:center -128px;}
  
}
@media (max-width: 767px) {
  .intro {height:280px;}
  .intro .intro-text {top:15%;}
}
@media (max-height: 400px) {
  .intro {height:240px;}
}
@media (max-height: 400px) and (max-width: 1080px) {
  .intro .intro-text {top:10%;}
}
.initialize header, .initialize footer, .initialize .wrap > section, .initialize .showcase-wrap, .initialize .menu, .initialize .sites-quicknav {display:none;}
.initialize .intro, .initialize .intro-home {display:block;}
.initialize .showcase {background-color:transparent;}




@media (min-width: 768px) {
  .menu, .sites-quicknav {display:none !important}
}

@media (max-width: 991px) {
  .slc-news .info-panel, .slc-spotlight .info-panel {height:auto !important;}
}

@media (max-width: 767px) {
  .wrap {left:0; transition:left .5s ease-out; background:#374347; z-index:25; -webkit-transition:left .5s ease-out; -moz-transition:left .5s ease-out;}
  .menu {display:block; position:fixed; top:0; bottom:0; overflow:hidden; padding-top:40px; background:#fff;}
  .menu-left {left:0; right:10%; background:#006c52;}
  .menu-right {right:0; left:10%;}
  .off-right .menu-left .menu-left-content, .off-left .menu-right {overflow:auto;}
  .off-left .menu-left .menu-nav a {display:none;}
  
  .off-right, .off-left {overflow:hidden;}
  .off-right .wrap {left:90%;}
  .off-left .wrap {left:-90%;}
  .off-right header {bottom:0; left:100%; margin-left:-70px;}
  .off-left header {bottom:0; left:-90%;}
  header {transition:margin .5s ease-out, left .5s ease-out; -webkit-transition:margin .5s ease-out, left .5s ease-out; -moz-transition:margin .5s ease-out, left .5s ease-out;}
  header > nav {display:none;}
  header .persistent-nav {width:100%;}
  header .persistent-nav .visible-xs {padding:0 20px;}
  
  .showcase, .showcase .showcase-wrap {height:320px;}
  .showcase-content {height:300px;}
  .showcase .tiles {height:280px;}
  .showcase .tiles .tile {width:110px; height:110px; margin:5px;}
  .showcase .tiles .tile.tile-big {width:230px; height:230px;}
  
  .navigate {padding:0 20px;}
  
  .menu-nav {position:absolute; top:0; left:0; width:100%; height:40px; border-bottom:2px solid #464646; color:#fff; background:#252525;}
  .menu-nav .link-home {padding:0 20px; font-size:1.2em; line-height:40px; color:#999;}
  .menu-nav .fa {font-size:1.4em; color:#fff;}
  .menu-nav h4 {margin:0 50px 0 20px; line-height:40px;}
  .menu-nav h4 span {font-weight:normal;}
  
  .menu .overflow-scroll {color:#252525;}
  .menu-left .scroll-up {background:-webkit-linear-gradient(top, rgba(0,108,82,1), rgba(0,108,82,0) );  background:-moz-linear-gradient(top, rgba(0,108,82,1), rgba(0,108,82,0) );  background:linear-gradient(top, rgba(0,108,82,1), rgba(0,108,82,0) );top:40px;}
  .menu-left .scroll-dn {background:-webkit-linear-gradient(top, rgba(0,108,82,0), rgba(0,108,82,1) );  background:-moz-linear-gradient(top, rgba(0,108,82,0), rgba(0,108,82,1) );  background:linear-gradient(top, rgba(0,108,82,0), rgba(0,108,82,1) );}
  .menu-left-content {position:absolute; top:40px; left:0; bottom:0; right:0; overflow:hidden; padding:20px 35px 20px 20px;}
  .menu-left-content a {display:block; margin:0 1em 1em 0;}

  .menu-right-content {position:absolute; top:40px; left:0; bottom:0; right:0; overflow:hidden; background:#363636;}
  
  .slc-sites {height:100%;}
  .slc-sites h4 {display:none;}
  .slc-sites .scroll-up {top:0;}
  .slc-sites .info-panel-wrap {padding-bottom:0; box-shadow:none;}
  .slc-sites .info-panel {position:absolute; top:0; bottom:60px; width:100%; overflow:auto; color:#fff; background:#363636;}
  .slc-sites .info-panel > ul {padding-bottom:10px;}
  .slc-sites form {bottom:0;}
  .slc-sites .scroll-dn {bottom:60px;}
  .slc-sites a {height:auto; font-size:1em; line-height:1.4; color:#ebebeb;}
  .slc-sites ul ul {background:#222;}
  .slc-sites .highlight {background:#662;}


  .info {display:none !important;}
  
  footer {border-top:1px solid #aaa; padding:10px 30px; background:#374347;}
  footer .footer-name {margin:5px 0 10px; text-align:center;}
  footer .footer-name img {margin:0 auto;}
  footer address {float:none; text-align:center; letter-spacing:1.3px;}
}


.ellipsis {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
