html{height:100%;}
body {position:relative; min-height:100%; min-width:320px; max-width:1280px; margin:0 auto; font-family: "futura-pt-1","futura-pt-2",sans-serif;}
.wrap {position:absolute; top:0; bottom:0; width:100%; padding-top:40px; background:#363636;}


a {color:#4d4d4d;}
a:visited {color:#444;}
a:hover {color:#555;}

span.highlight {background-color:#ffa;}

/* HEADER */
header {position:fixed; top:0; min-width:320px; width:100%; max-width:1280px; z-index:1000;}
header a {display:inline-block; height:38px; line-height:40px; font-size:1.2em; color:#fff;}
header a:hover, header a:visited {text-decoration:none; color:#eee;}
header .persistent-nav {position:relative; height:40px; border-bottom:2px solid #464646; font-weight:bold; background:#252525;}
header .persistent-nav .logo {position:relative;display:inline-block; vertical-align:top; position:relative; top:-40px; left:-10px; width:90px; height:90px; border:3px solid #333; padding-right:5px; line-height:110px; border-radius:50px; text-align:right; font-size:25px; background:#006c52; z-index:100;}
header .persistent-nav .i-am {display:inline-block; padding:0 20px;}
header .persistent-nav .xs-menu .fa {margin-left:10px;}
header > nav {border-bottom:2px solid #464646; background:#363636;}
header > nav a {padding:0 1.5%; font-weight:100; letter-spacing:.5px;}

header #iAm {position:relative; width:480px; max-width:100%; background:#454545;}
header #iAm .scroll-up {top:78px;}
header #iAm .ready-to {text-align:center; color:#fff; background:#252525;}
header #iAm .ready-to a {margin:0 20px;}
header #iAm em {display:block; padding:10px 30px; color:#e0e0e0;}
header #iAm nav {padding:40px 20px; overflow-y:auto;}
header #iAm nav a {display:block; height:auto; border-top:1px solid #656565; border-bottom:1px solid #2c2c2c; padding:5px 10px; line-height:1.3;}
header #iAm nav a:first-child {border-top:0;}
header #iAm nav a:last-child {border-bottom:0;}
header #iAm nav a:hover {background:#252525;}
header #iAm nav a h4 {margin:0 0 5px; font-weight:normal;}
header #iAm nav a p {margin:0; font-size:0.8em; font-style:italic; color:#b4b4b4;}


/* SHOWCASE */
.showcase {position:relative; width:100%; height:400px; background-color:#0077b0;}
.showcase .showcase-wrap {width:100%; height:400px;}
.showcase h2 {margin-top:0; padding:10px 0 0 60px; color:#fff;}
.overflow-scroll {position:absolute; text-align:center; line-height:400px; font-size:4em; color:#999; background:rgba(255,255,255,.7); cursor:pointer; z-index:10;}
.overflow-scroll.scroll-le {top:0; bottom:0; left:0; width:40px;   background:-webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,0) ); background:-moz-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,0) ); background:linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,0) ); }
.overflow-scroll.scroll-ri {top:0; bottom:0; right:0; width:40px;  background:-webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8) ); background:-moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8) ); background:linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8) ); }
.overflow-scroll.scroll-up {top:0; left:0; right:0; height:40px;   background:-webkit-linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,0) );  background:-moz-linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,0) );  background:linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,0) );  }
.overflow-scroll.scroll-dn {bottom:0; left:0; right:0; height:40px;background:-webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.8) );  background:-moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.8) );  background:linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.8) );  }
.overflow-scroll img {position:absolute;}
.overflow-scroll.scroll-le img, .overflow-scroll.scroll-ri img {top:50%; margin-top:-29px; left:7px;}
.overflow-scroll.scroll-up img, .overflow-scroll.scroll-dn img {left:50%; margin-left:-29px; top:7px;}

.showcase-content {position:absolute; top:50px; height:370px; width:100%; overflow:auto;overflow-x:auto;overflow-y:hidden; padding:0 50px;}
.showcase .tiles {width:4000px; height:350px; padding-right:50px; -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.showcase .tiles .tile {display:block; position:relative; float:left; width:140px; height:140px; margin:10px; border:8px solid #ededed; background:#0077b0;}
.showcase .tiles .tile.tile-big {width:300px; height:300px;}
.showcase .tiles .tile .caption {position:absolute; bottom:0; left:0; right:0; min-height:30px; padding:.5em; color:#fff; background:rgba(0,0,0,.5);}
.showcase .tiles .tile .caption i {font-size:2em;}
.showcase .tiles .tile .caption span {position:absolute; bottom:.5em; right:.5em; left:40px; text-align:right; font-style:italic;}

/* Navbar */
.navigate {position:relative; padding:0 55px; background:#01364f;}
.navigate .bar {height:40px; background:#01364f; z-index:200;}
.navigate .bar .portal-links a {float:left; width:30%; height:45px; margin:-5px 1% 0; text-align:center; font-size:1.2em; letter-spacing:1px; line-height:45px; font-weight:bold; color:#fff; background:#115078;}
.navigate .bar .social-links {text-align:center;}
.navigate .bar .social-links a {margin:0 3.3%; line-height:40px; font-size:1.6em; color:#fff;}
.navigate .bar .explore-links {padding-right:0;}
.navigate .bar .explore-links a {float:right; width:50%; height:40px; text-align:center; font-size:1.2em; letter-spacing:1px; line-height:40px; color:#fff; background:#5d5d5d;}
.navigate .bar .explore-links a img {position:relative; top:-2px;}
@media(max-width:991px) {
  .navigate .bar .explore-links .explore-link-text {display:none;}
}
.sites-quicknav {position:relative; background:url('../../../home/gardens.jpg') no-repeat center center fixed; background-size:100% auto;}
.sites-quicknav nav {padding:25px 15%; box-shadow:inset 0 0 40px 20px rgba(0,0,0,.5); font-size:1.5em; background:rgba(0,0,0,0.5);}
.sites-quicknav a {display:block; padding:.2em 0; color:#fff;}
.menu-helpers {padding:20px; text-align:center; background:#cececf;}
.menu-helpers a {display:inline-block; position:relative; height:60px; margin:0 5px; padding:15px 20px; font-size:1.4em; line-height:30px; box-shadow:2px 2px 4px 2px rgba(0,0,0,.2);}
.menu-helpers .explore {color:#fff; background:#0f6d53;}
.menu-helpers .explore:before {content:''; border-style:solid; border-width:30px 20px 30px 0; border-color:transparent #0f6d53; position:absolute; top:0; left:-20px;}
.menu-helpers .info-for {color:#0f6d53; background:#fff;}
.menu-helpers .sites {color:#fff; background:#232523;}
.menu-helpers .sites:after {content:''; border-style:solid; border-width:30px 0 30px 20px; border-color:transparent #232523; position:absolute; top:0; right:-20px;}
@media(max-width: 480px) {
  .menu-helpers a {padding:15px 8px; font-size:1em;}
}

/* Info */
.info {position:relative; padding:0 40px; background:#f1f1f1;}
.info-panel {background:#fff;}
.info h4 {color:#00644c;}

.info-panel {min-height:300px; overflow:auto;overflow-y:auto;overflow-x:hidden;}
.info-panel ul {margin:0; padding:10px 20px; list-style:none;}
.info-panel ul li a {display:block; padding:.5em 0;}

.slc-sites {position:relative;}
.slc-sites .scroll-up {top:29px;}
.slc-sites .scroll-dn {bottom:60px;}
.slc-sites .info-panel > ul {font-size:1.2em; padding-top:40px; padding-bottom:110px;}
.slc-sites ul ul {display:none; padding:0 20px;}
.slc-sites ul ul a {padding:0;}
.slc-sites .filtering ul ul {display:block;}
.slc-sites form {position:absolute; bottom:0; left:15px; right:15px; height:60px; padding:13px 15px;background:#bababa;}
.slc-sites form .input-group {float:left; width:85%;}
.slc-sites form button {width:15%; padding-top:0;padding-bottom:0; font-size:1.5em; color:#eee;}

.slc-news {position:relative;}
.slc-news .scroll-up {top:29px;}
.slc-news ul {padding-top:40px; padding-bottom:40px; font-size:.9em;}
.slc-news ul li i {float:left; padding-top:2px;}
.slc-news ul li a {margin-left:20px; padding-top:0;}

.slc-spotlight .cycle-slideshow {min-height:300px; overflow:hidden;}
.slc-spotlight .cycle-slideshow .item {position:relative; height:300px; width:100%; padding:1em; text-align:center;}
.slc-spotlight .cycle-slideshow .item .spotlight-top, .slc-spotlight .cycle-slideshow .item .spotlight-bottom {display:block; position:absolute; left:0; top:0; height:120px; width:100%; padding:10px 20px;}
.slc-spotlight .cycle-slideshow .item .spotlight-bottom {top:auto; bottom:0;}
.slc-spotlight .cycle-slideshow .item img {max-height:100px; margin:0 10px;}
.slc-spotlight .cycle-slideshow .cycle-pager {position:absolute; top:43%; width:100%; text-align:center; z-index:200;}
.slc-spotlight .cycle-slideshow .cycle-pager span {font-size:30px; color:#999; cursor:pointer;}
.slc-spotlight .cycle-slideshow .cycle-pager .cycle-pager-active {color:#000;}
.slc-spotlight .cycle-slideshow .cycle-control {position:absolute; top:0; bottom:0; width:40px; font-size:3em; z-index:220; cursor:pointer;}
.slc-spotlight .cycle-slideshow .cycle-prev {left:0;  background:url(../../../img/scroll-le.png) no-repeat center center transparent;}
.slc-spotlight .cycle-slideshow .cycle-next {right:0;  background:url(../../../img/scroll-ri.png) no-repeat center center transparent;}
.no-js .slc-spotlight .cycle-slideshow .cycle-control {display:none;}

/* FOOTER */
footer {position:relative; width:100%; padding:10px 20px; color:#fff; background:#363636; z-index:900;}
footer .footer-name {margin-top:4px;}
footer address {margin:0; text-align:right;}
footer a, footer a:hover {color:#fff;}


/* CONTENT */

/* Homepage Intro */
.intro-home {display:none; position:fixed; top:0; left:0; bottom:0; right:0; background:url('../../../home/westlands.jpg') no-repeat center center fixed; background-size:cover;}
.intro {display:none; position:absolute; top:60px; left:30px; right:30px; height:360px; border:8px solid #ebebeb; z-index:80;}
.intro .intro-text {position:absolute; top:45%; width:100%; text-align:center; letter-spacing:5px; font:2em/1 Futura, "Trebuchet MS", Arial, sans-serif; color:#fff;}
.intro .intro-word {height:30px;}
.intro .intro-dot {margin:0 1em;}

@media (max-width: 1080px) {
  .intro .intro-text {top:25%;}
  .intro .intro-text img {display:block; margin:10px auto;}
}
@media (max-width: 400px) {
  .intro .intro-word {height:20px;}
}
@media (min-width: 1440px) {
  .intro .intro-word {height:35px;}
}
@media (max-height: 400px) {
  .intro {height:240px;}
}
@media (max-height: 400px) and (max-width: 1080px) {
  .intro .intro-text {top:10%;}
}
.initialize header, .initialize footer, .initialize .wrap > section, .initialize .showcase-wrap, .initialize .menu, .initialize .sites-quicknav {display:none;}
.initialize .intro, .initialize .intro-home {display:block;}
.initialize .showcase {background-color:transparent;}

@media (min-width: 768px) {
  .menu, .sites-quicknav {display:none !important}
}
@media (max-width: 767px) {
  .wrap {left:0; transition:left .5s ease-out; background:#374347; z-index:25;}
  .menu {display:block; position:fixed; top:0; bottom:0; overflow:hidden; padding-top:40px; background:#fff;}
  .menu-left {left:0; right:10%; background:#006c52;}
  .menu-right {right:0; left:10%;}
  .off-right .menu-left .menu-left-content, .off-left .menu-right {overflow:auto;}
  .off-left .menu-left .menu-nav a {display:none;}
  
  .off-right, .off-left {overflow:hidden;}
  .off-right .wrap {left:90%;}
  .off-left .wrap {left:-90%;}
  .off-right header {bottom:0; left:100%; margin-left:-70px;}
  .off-left header {bottom:0; left:-90%;}
  header {transition:margin .5s ease-out, left .5s ease-out;}
  header > nav {display:none;}
  header .persistent-nav {width:100%;}
  header .persistent-nav .visible-xs {padding:0 20px;}
  header #iAm {margin-top:40px;}
  
  .menu-nav {position:absolute; top:0; left:0; width:100%; height:40px; border-bottom:2px solid #464646; color:#fff; background:#252525;}
  .menu-nav .link-home {padding:0 20px; font-size:1.2em; line-height:40px; color:#757575;}
  .menu-nav .fa {font-size:1.4em; color:#fff;}
  .menu-nav h4 {margin:0 50px 0 20px; line-height:40px;}
  .menu-nav h4 span {font-weight:normal;}
  
  .menu-left .scroll-up {top:40px;}
  .menu-left-content {position:absolute; top:40px; left:0; bottom:0; right:0; overflow:hidden; padding:40px 20px;}
  .menu-left-content a {display:block; margin:0 1em 1em 0;}

  .menu-right-content {position:absolute; top:40px; left:0; bottom:0; right:0; overflow:hidden; background:#363636;}
  
  .slc-sites {height:100%;}
  .slc-sites h4 {display:none;}
  .slc-sites .scroll-up {top:0;}
  .slc-sites .info-panel {position:absolute; top:0; bottom:60px; width:100%; overflow:auto; color:#fff; background:#363636;}
  .slc-sites .info-panel > ul {padding-bottom:50px;}
  .slc-sites form {margin:0 -15px;}
  .slc-sites a {height:auto; font-size:1em; line-height:1.4; color:#ebebeb;}
  .slc-sites ul ul {background:#222;}
  .slc-sites .highlight {background:#662;}

  /*
  .showcase {background-color:transparent !important;}
  .showcase-wrap {background:url('../../../img/showcase-bg-mobile.jpg') repeat 0 0;}
  .showcase-content {position:static; margin-top:30px; overflow:visible;}
  .showcase .tiles {width:300px; margin:0 auto; padding-right:0;}
  .showcase .tiles .tile {position:absolute; display:block; width:300px; height:300px; margin:0; box-shadow:0 0 2px #000;}
  */


  .info {display:none !important;}
  
  footer {border-top:1px solid #aaa; padding:10px 30px; background:#374347;}
  footer .footer-name {text-align:center;}
  footer .footer-name img {margin:0 auto;}
  footer address {float:none; text-align:center; letter-spacing:1.3px;}
}


.ellipsis {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
